.custom-icon {
    height: 70px;
}

.btn-login {
    border: 2px solid rgb(233, 233, 233);
    border-radius: 15px;
}

.bg-cream {
    background-color: #F3EAD7;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
    background-color: #ff4f3f;
    border-radius: 2px;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-araya,
.scroll .btn-araya,
.white-color .btn-araya,
.araya-hover:hover,
.scroll .araya-hover:hover,
.white-color .araya-hover:hover {
    color: #fff !important;
    background-color: #ff4f3f;
    border-color: #ff4f3f !important;
}

.btn-tra-araya,
.scroll .btn-tra-araya,
.white-color .btn-tra-araya,
.tra-araya-hover:hover,
.scroll .tra-araya-hover:hover,
.white-color .tra-arayahover:hover {
    color: #ff4f3f !important;
    background-color: transparent;
    border-color: #ff4f3f !important;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

#cart-count.animated {
    animation: bounce 0.5s ease 1;
}

.product-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header-3 .navik-menu ul li > a.btn-member {
    line-height: 40px;
    height: auto;
    /* background-color: #ff4f3f; */
    color: #ff4f3f; 
    padding: 0px 25px;
    border: 1px solid #ff4f3f; 
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#header-3 .navik-menu ul li > a.btn-member:hover {
    background-color: #ff4f3f;
    color: #fff; 
    cursor: pointer;
}

#header-3.header-transparent-on .navik-menu > ul > li > a.btn-member{
    line-height: 40px;
    height: auto;
    color: #fff; 
    padding: 0px 25px;
    border: 1px solid #fff; 
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#header-3.header-transparent-on .navik-menu > ul > li > a.btn-member:hover{
    color: #e21400; 
    border: 1px solid #e21400; 
}

#header-3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #ff4f3f;
    z-index: 1200;
}


#header-3.navik-header {
    padding-top: 0px;
}

@media (min-width: 1200px){
    .navik-menu {
        float: left;
        clear: inherit;
    }
    .navik-menu.right {
        float: right;
        clear: inherit;
    }

    #header-3 .logo {
        background-color: #ff4f3f;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 20px 20px;
        margin-bottom: 5px;
    }
    
}

.line-menu{
    background-color: #3a3a3a;
}

@media  (max-width: 1199.95px) {
    #header-3 .flaticon-shopping-bag{
        color: #3a3a3a;
    }

    .menu-6-item .add-to-cart {
        bottom: 28px;
        opacity: 1;
        -moz-opacity: 1;
    }
}

.footer-logo img {
    max-height: 150px;
}

#register-form .card{
    background-color: #FFF;
    border: none;
    border-radius: 25px;
    box-shadow: 7px 7px 10px rgb(39 39 39 / 14%);
}

#register-form .card-body{
    padding: 50px;
}

#register-form .form-control {
    font-family: KoHo;
    border-radius: 20px;
    padding: 16px 15px;
    margin-bottom: 10px;
    font-size: 100%;
}

#register-form {
    background-color: #ff4f3f;
    font-family: KoHo;
    font-weight: 500;
}

#register-form .h4-xl{
    font-weight: 700;
    text-transform: none;
}
#register-form .p-md{
    font-size: 1rem;
}
#register-form .btn{
    font-family: KoHo;
}

#menu-6 .h5-xs{
    font-size: 1rem;
    text-transform: none;
}

.araya-color{
    color: #ff4f3f;
}
.bg-araya{
    background-color: #ff4f3f;
}

.bg-shadow{
    /* background-color: #F3EAD7; */
    box-shadow: 2px 2px 5px rgb(39 39 39 / 14%);
}

.light-color{
    color: #fff;
}

.add-to-cart{
    font-weight: 500;
}