.custom-icon {
    height: 50px;
}

.btn-login {
    border: 2px solid rgb(233, 233, 233);
    border-radius: 15px;
}

.bg-cream {
    background-color: #F3EAD7;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
    background-color: #ff4f3f;
    border-radius: 2px;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-araya,
.scroll .btn-araya,
.white-color .btn-araya,
.araya-hover:hover,
.scroll .araya-hover:hover,
.white-color .araya-hover:hover {
    color: #fff !important;
    background-color: #ff4f3f;
    border-color: #ff4f3f !important;
}

.btn-tra-araya,
.scroll .btn-tra-araya,
.white-color .btn-tra-araya,
.tra-araya-hover:hover,
.scroll .tra-araya-hover:hover,
.white-color .tra-arayahover:hover {
    color: #ff4f3f !important;
    background-color: transparent;
    border-color: #ff4f3f !important;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

#cart-count.animated {
    animation: bounce 0.5s ease 1;
}

.product-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header-3 .navik-menu ul li>a.btn-member {
    line-height: 40px;
    height: auto;
    background-color: #ff4f3f;
    color: #fff;
    padding: 0px 25px;
    border: 1px solid #ff4f3f;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#header-3 .navik-menu ul li>a.btn-member:hover {
    background-color: #fff;
    color: #ff4f3f;
    cursor: pointer;
}

#header-3.header-transparent-on .navik-menu>ul>li>a.btn-member {
    line-height: 40px;
    height: auto;
    color: #fff;
    padding: 0px 25px;
    border: 1px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#header-3.header-transparent-on .navik-menu>ul>li>a.btn-member:hover {
    color: #e21400;
    border: 1px solid #e21400;
}

/* #header-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11px;
    background-color: #ff4f3f;
    z-index: 1200;
} */


#header-3.navik-header {
    padding-top: 0px;
}

@media (min-width: 1200px) {
    .navik-menu {
        float: left;
        clear: inherit;
    }

    .navik-menu.right {
        float: right;
        clear: inherit;
    }

    /* #header-3 .logo {
        background-color: #ff4f3f;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 12px 20px;
        margin-bottom: 5px;
    } */

}

.line-menu {
    background-color: #3a3a3a;
}

@media (max-width: 1199.95px) {
    #header-3 .flaticon-shopping-bag {
        color: #3a3a3a;
    }

    .menu-6-item .add-to-cart {
        bottom: 20px;
        opacity: 1;
        -moz-opacity: 1;
    }

    .group-navbar.menu-open {
        height: 80vh;
        overflow: auto;
        margin-bottom: 1.5rem;
    }

    .group-navbar::-webkit-scrollbar,
    .group-navbar::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        position: absolute;
    }

    .group-navbar::-webkit-scrollbar-thumb,
    .group-navbar::-webkit-scrollbar-thumb {
        background-color: #ff4f3f;
        border-radius: 2px;
        -webkit-transition: .3s;
        transition: .3s;
    }
}

@media (min-width: 321px) and (max-width: 413.95px) {}

.footer-logo img {
    max-height: 150px;
}

#register-form .card {
    background-color: #FFF;
    border: none;
    border-radius: 25px;
    box-shadow: 7px 7px 10px rgb(39 39 39 / 14%);
}

#register-form .card-body {
    padding: 50px;
}

#register-form .form-control {
    font-family: KoHo;
    height: auto;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 100%;
}

#register-form {
    background-color: #ff4f3f;
    font-family: KoHo;
    font-weight: 500;
}

#register-form .h4-xl {
    font-weight: 700;
    text-transform: none;
}

#register-form .p-md {
    font-size: 1rem;
}

#register-form .btn {
    font-family: KoHo;
}

#menu-6 .h5-xs {
    font-size: 1rem;
    text-transform: none;
}

.araya-color {
    color: #ff4f3f;
}

.bg-araya {
    background-color: #ff4f3f;
}

.bg-shadow {
    /* background-color: #F3EAD7; */
    box-shadow: 2px 2px 5px rgb(39 39 39 / 14%);
}

.light-color {
    color: #fff;
}

.add-to-cart {
    font-weight: 500;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.tra-hover-success:hover {
    color: #28a745 !important;
    background-color: #fff;
    border-color: #28a745 !important;
}

/* .menu-6-item .qty {
    position: absolute;
    right: 20px;
    bottom: 23px;
    height: auto;
    font-size: inherit;
    padding: 5px 5px;
    border: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
} */

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}



.checkbox-container {
    display: inline-flex;
    align-items: center;
}

.check-category {
    display: none;
}

.label-category {
    position: relative;
    color: #424242;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    padding: 5px 15px;
    margin-bottom: 0;
}


.check-category:checked+.label-category {
    background-color: #ff4f3f;
    color: #fff;
}

.group-category {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    gap: 10px;
}

#filterCategory .card-header {
    background-color: #fff;
}

#filterCategory .card-header span {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}



.search__container {
    padding-top: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.search__title {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #ff4f3f;
}

.search__input {
    width: 90%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 97% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

#filterButton {
    border-radius: 25px;
}

.badge-filter {
    position: relative;
    color: #ff4f3f;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ff4f3f;
    padding: 5px 15px;
    margin-bottom: 0;
    transition: box-shadow 0.5s ease;
}

.badge-filter:hover {
    box-shadow: 7px 7px 10px rgb(39 39 39 / 14%);
}

.badge-filter:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ca2819;
}


.custom-input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: .8rem;
    line-height: 18px;

    color: #575756;
    background-color: transparent;
    border-radius: 50px;
    border:1px solid #ced4da;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.custom-input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    letter-spacing: 1.5px;
}

.custom-input:hover,
.custom-input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.cart-checkout {
    padding: 30px 10px;
}

.cart-checkout table {
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 500;
}

.online-shop img {
    width: 75%;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    transition-duration: 0.3s;
    cursor: pointer;
}

.online-shop img:hover {
    width: 75%;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    transition-duration: 0.3s;
}

.btn-primary {
    color: #fff !important;
    background-color: #ff4f3f;
    border-color: #ff4f3f !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #c42a1c;
    border-color: #c42a1c !important;
}


.input-number {
    width: 50px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    border: 1px solid #ccc;
    height: 40px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: #ff4f3f;
    color: #fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.input-number-decrement:active,
.input-number-increment:active {
    background: #ddd;
}

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

/* Button Radio */

/* variables */
:root {
    /* colors */
    --ri5-color-primary-hsl: 242, 69%, 52%;
    --ri5-color-bg-hsl: 0, 0%, 100%;
    --ri5-color-contrast-high-hsl: 230, 7%, 23%;
    --ri5-color-contrast-higher-hsl: 230, 13%, 9%;
    --ri5-color-bg-darker-hsl: 240, 4%, 90%;
    --ri5-color-white-hsl: 0, 0%, 100%;

    /* typography */
    --ri5-text-sm: 0.833rem;

    --radio-switch-width: 300px;
    --radio-switch-height: 46px;
    --radio-switch-padding: 1px;
    --radio-switch-radius: 100vw;
    --radio-switch-animation-duration: 0.3s;
}

.radio-switch {
    position: relative;
    display: inline-flex;
    padding: var(--radio-switch-padding);
    border-radius: calc(var(--radio-switch-radius) * 1.4);
    background-color: hsl(var(--ri5-color-bg-darker-hsl));
}

.radio-switch:focus-within,
.radio-switch:active {
    box-shadow: 0 0 0 2px hsla(var(--ri5-color-contrast-higher-hsl), 0.15);
}

.radio-switch__item {
    position: relative;
    display: inline-block;
    height: calc(var(--radio-switch-height) - 2*var(--radio-switch-padding));
    width: calc(var(--radio-switch-width)*0.5 - var(--radio-switch-padding));
}

.radio-switch__label {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: var(--radio-switch-radius);
    cursor: pointer;
    font-size: var(--ri5-text-sm);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all var(--radio-switch-animation-duration);
}

.radio-switch__input:checked~.radio-switch__label {
    color: hsl(var(--ri5-color-white-hsl));
}

.radio-switch__input:focus~.radio-switch__label {
    background-color: hsla(var(--ri5-color-primary-hsl), 0.6);
}

.radio-switch__label :not(*):focus-within,
.radio-switch__input:focus~.radio-switch__label {
    background-color: transparent;
}

.radio-switch__marker {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    border-radius: var(--radio-switch-radius);
    background-color: #ff4f3f;
    height: calc(var(--radio-switch-height) - 2*var(--radio-switch-padding));
    width: calc(var(--radio-switch-width)*0.5 - var(--radio-switch-padding));
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
    transition: -webkit-transform var(--radio-switch-animation-duration);
    transition: transform var(--radio-switch-animation-duration);
    transition: transform var(--radio-switch-animation-duration), -webkit-transform var(--radio-switch-animation-duration);
}

.radio-switch__input:checked~.radio-switch__marker {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

/* utility classes */
.ri5-sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    white-space: nowrap;
}

.form-control{
    font-weight: 300;
}

.navik-menu li > ul.right{
    right: 0;
    left: auto;
}